@model List<Notification>

@{
    int receiver = int.Parse(User.Identity.Name);

    bool CheckFriend(List<User> list, int id)
    {
        return list.Exists(elem => elem.Id == id);
    }

}
<div class="d-flex justify-content-between pt-2 border-bottom">
    <h5 class="ps-2">Notifications:</h5>
    <form asp-action="MarkAsRead" asp-controller="Account" method="post" asp-route-id="@(receiver)">
        <button type="submit" class="btn btn-link neuteredLink" style="color: black !important;">Mark all as read</button>
    </form>
</div>
@if (Model.Count == 0)
{
    <p class="text-center text-secondary">There aren't any notifications to show'</p>
}

@foreach (Notification notif in Model)
{
    <div class="SingleNotification" style="background-color: @(notif.IsRead ? "inherit" : "#c8c5d6")">
        <div>
            <img src="@("/Uploads/" + @notif.Sender?.ProfilePicture)" class="rounded-circle NotifImage" />
        </div>
        <div>
            @if (notif.Type == NotificationType.Friend)
            {
                <p class="NotifIcon">
                    @notif.Sender?.Username has sent you a friend request!<span>
                        @if (notif.IsRead)
                        {
                            <i class="bi bi-check NotifSymbol" style="font-size: 1.5rem; color: green; border-color: green"></i>
                        }
                        else
                        {
                            <i class="bi bi-dot NotifSymbol" style="font-size: 1.5rem; color: dodgerblue; border-color: dodgerblue"></i>
                        }
                    </span>
                </p>

                @if (notif.Timestamp.Day == DateTime.Now.Day)
                {
                    <p class="ContentSubtitle float-end m-0" style="font-size:0.7rem;">Today</p>

                }
                else
                {
                    <p class="ContentSubtitle float-end m-0" style="font-size:0.7rem;">@notif.Timestamp.Date.ToShortDateString()</p>
                }
                <div class="d-flex gap-3">
                    <form asp-action="ResolveFriendRequest" , asp-controller="Friends" asp-route-id="@receiver" asp-route-sender="@notif.SenderId" asp-route-isFriend="@false" asp-route-response="@true">
                        <button type="submit" class="btn btn-success @(notif.State != State.Pending ? "disabled" : "")">Accept</button>
                    </form>
                    <form asp-action="ResolveFriendRequest" , asp-controller="Friends" asp-route-id="@receiver" asp-route-sender="@notif.SenderId" asp-route-isFriend="@false" asp-route-response="@false">
                        <button type="submit" class="btn btn-danger @(notif.State != State.Pending ? "disabled" : "")">Reject</button>
                    </form>

                </div>


            }
            else if (notif.Type == NotificationType.Comment)
            {
                <p class="NotifIcon">
                    
                    @notif.Sender?.Username has left you a comment!<span>
                        @if (notif.IsRead)
                        {
                            <i class="bi bi-check NotifSymbol" style="font-size: 1.5rem; color: green; border-color: green"></i>
                        }
                        else
                        {
                            <i class="bi bi-dot NotifSymbol" style="font-size: 1.5rem; color: dodgerblue; border-color: dodgerblue"></i>

                        }
                    </span>
                </p>
                @if (notif.Timestamp.Day == DateTime.Now.Day)
                {
                    <p class="ContentSubtitle float-end m-0" style="font-size:0.7rem;">Today</p>

                }
                else
                {
                    <p class="ContentSubtitle float-end m-0" style="font-size:0.7rem;">@notif.Timestamp.Date.ToShortDateString()</p>
                }


            }
        </div>
    </div>
}